<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <link rel="icon" href="/images/google.png"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/javascript/connect.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="title" class="inline">Da R.A.T</h1>
        <ul id="Nav" class="inline">
            <li class="inline"><a href="/">Home</a></li>
            <li class="inline"><a id="current">Connect</a></li>
            <ls class="inline"><a href="/download">Download</a></ls>
        </ul>
    </header>
    <label>
        ID:
        <input type="text" id="loginID" required maxlength="6"/>
        <button onclick="IDin()">Submit</button>
    </label>
</body>
</html>
