<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <link rel="icon" href="/images/google.png"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="title" class="inline">Da R.A.T</h1>
        <ul id="Nav" class="inline">
            <ls class="inline"><a href="/">Home</a></ls>
            <ls class="inline"><a href="/connect">Connect</a></ls>
            <ls class="inline"><a id="current">Download</a></ls>
        </ul>
    </header>
    <h1>Nothing here yet!</h1>
</body>
</html>
