<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <link rel="icon" href="/images/google.png"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="title" class="inline">Da R.A.T</h1>
        <ul id="Nav" class="inline">
            <ls class="inline"><a id="current">Home</a></ls>
            <ls class="inline"><a href="/connect">Connect</a></ls>
            <ls class="inline"><a href="/download">Download</a></ls>
        </ul>
    </header>
    <p>
        Da Rat is a fully web-based remote-access system I built from the ground up to not rely on aything but access to a web browser on the connecting pc specifically for devices with restrictions that impact remote conection. The image refresh rate is unreasonably slow for now but it should help for access to apps and files on your other pc and typing-heavy actions that dont require the fastest connection.
    </p>
    <br>
    <p>
        As of now the app required on the recieving pc is limited access, however as quality improves I hope to publish it later on.
    </p>
</body>
</html>